<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Lois Lane wants to tell you something, <%= @submitter.username %></h1>
    <p>
      <%= @commenter.username %> has commented/approved/critiqued your submission.<br/>
    </p>
    <p>
      To view your submission, just follow this link: <%= @url %>.
    </p>
    <p>Code review soon and code review often!</p>
  </body>
</html>
